<?xml version="1.0"?>

<!-- For more information on using Web.config transformation visit http://go.microsoft.com/fwlink/?LinkId=125889 -->

<configuration xmlns:xdt="http://schemas.microsoft.com/XML-Document-Transform">

  <appSettings>

    <!-- set the correct odata.root setting -->
    <add key="odata.root" value="https://ondemand.questionmark.com/{0}/odata/" 
         xdt:Transform="SetAttributes" xdt:Locator="Match(key)" />

  </appSettings>

  <system.web>

    <!-- clear out debug attributes -->
    <compilation xdt:Transform="RemoveAttributes(debug)" />

    <!-- set the custom errors section -->
    <customErrors defaultRedirect="GenericError.htm" mode="RemoteOnly" 
                  xdt:Transform="Replace">
      <error statusCode="500" redirect="InternalError.htm"/>
    </customErrors>
  </system.web>

</configuration>